@import "../../styles/mixins.scss";

.lp-overlay {
  background: #e6efff;
  @include fixed-full-screen;
  .name-block {
    .logo {
      margin-left: 50%;
      transform: translateX(-50%);
    }
    .logo-bg {
      margin-left: 20vw;
      width: 60vw;
    }
    p {
      width: 90vw;
      text-align: right;
      font-size: calc(5px + 2vw);
      font-style: italic;
      color: #633712;
      opacity: 0;
      animation: fade-in-subtitile 3.85s ease-in-out infinite;
    }
    @keyframes fade-in-subtitile {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 0.7;
      }
    }
  }
  .option-block {
    padding: 0 20px;
    max-width: 420px;
    margin: auto;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;

    span {
      position: relative;
      color: rgb(45, 122, 194);
      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        background: rgb(205, 205, 233);
        left: 50%;
        transform: translateX(-50%);
        bottom: -4px;
        transition: width 0.3s ease-in-out;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
      &.selected {
        &::after {
          width: 100%;
        }
      }
    }
  }
  .details-block {
    background: #ffffff;
    width: calc(100% - 40px);
    height: calc(50vh - 150px);
    overflow-y: auto;
    margin: auto;
    margin-top: 30px;
    bottom: 100px;
    box-shadow: inset 5px -4px 27px -18px rgba(0, 0, 0, 0.75);
    div {
      padding: 10px;
      opacity: 0;
      position: absolute;
      margin-top: 0;
      transition: opacity 0.3s ease-in-out;
      &.show {
        opacity: 1;
      }
    }
    .relative-div {
      position: relative;
    }
  }
  .scroll-to-bottom-block {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    img {
      margin-left: 50px;
      transform: translateX(-50%);
      margin-bottom: 0;
      padding: 0 10px 10px;
      margin-bottom: -10px;
      transition: margin-bottom 0.2s ease-in-out;
      &:hover {
        margin-bottom: -20px;
      }
    }
    p {
      text-align: center;
      font-style: italic;
      font-size: 12px;
      letter-spacing: 5px;
      &:before {
        width: 20px;
        height: 20px;
        left: 40px;
        margin-top: -10px;
        position: absolute;
        background: rgba(199, 190, 190, 0.5);
        content: "";
        z-index: -1;
      }
    }
  }
}
